<!-- Navigation -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <div class="collapse navbar-collapse justify-content-md-left"></div>
            <ul class="navbar-nav">
                <li>
                    <a href="https://github.com/javasync">
                        GitHub
                    </a>
                </li>
            </ul>
        </div>
    </nav>
<br>
<br>

    {% comment %}
            {% if page.url == "/" %}
                <a class="nav-link active"  href="{{ site.url }}">
            {% else %}
                <a class="nav-link"  href="{{ site.url }}">
            {% endif %}
                Home
            </a>

            {% if page.url == "/news/"%}
                <a class="nav-link active"  href="{{ site.url }}/news">
            {% else %}
                <a class="nav-link"  href="{{ site.url }}/news">
            {% endif %}
                News
            </a>
    {% endcomment %}

</header>
